<!DOCTYPE html>
<html>
  <head>
    <script src="/javascript/jquery-3.2.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Overlay Admin</title>
  </head>
  <body>
    ADMIN
    <input type="text" name="player" id="player" />
    <button onclick="sendUpdate()">Send Update</button>
    <!-- Don't fire before body loads -->
    <script>
      var socket = io("/overlay_info");

      function sendUpdate() {
        var data = {
          "player": document.getElementById("player").value
        };
        socket.emit("update_overlay", data);
      }

      socket.on('update_overlay', function(data) {
        document.getElementById('player').value = data.player;
      });
    </script>
  </body>
</html>
