$primary: #01579b;
$highlight: #00838f;

.card-title {
  font-weight: bold;
  font-size: 22px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bcd;
  color: $primary;
}

.input-label {
  height: 3rem;
  font-size: 16px;
  margin: 0px;
  color: $primary;
  font-weight: bold;
}

.overlay-input {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px !important;
}

.overlay-input:focus {
  border-bottom: 1px solid $primary !important;
}

.update-button {
  background-color: $primary !important;
}
