@import "global";


.card-title {
  font-weight: bold;
  font-size: 22px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 5px;
  border-bottom: 1px solid #bcd;
  color: $primary;
}

.input-label {
  height: 3rem;
  font-size: 16px;
  margin: 0px;
  color: $primary;
  font-weight: bold;
}

.overlay-input {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0px !important;
}

.overlay-input:focus {
  border-bottom: 1px solid $primary !important;
}

.update-button {
  background-color: $primary !important;
}

.section-header {
  text-align: center;
  align: center;
  border-bottom: 1px solid #bbb;
  color: #444444;
  padding-bottom: 10px;
}

.tabs .indicator {
  background-color: $primary !important;
}

.tabs .tab a:hover, .tabs .tab a.active {
  color: $primary !important;
}

.tabs .tab a.active {
  border-bottom: 1px solid $primary !important;
}

.tabs {
  height: 100px !important;
}

.tabs .tab {
  height: 100px !important;
  line-height: 100px !important;
}

.tabs .tab a {
  color: $primary !important;
  font-size: 20px !important;
  font-weight: bold;
}
