@import "overlay_base";
@import "global";

$info_height: 60px;
$camera_name_height: 34px;
$cut_width: 50px;
$header_margin: 216px;
$background: #333333;

.left-side {
  border: 3px solid magenta;
  height: $max_height !important;
  position: relative;
}

.right-side {
  border: 3px solid green;
  height: $max_height !important;
  position: relative;
  background-color: $background;
}

.info-rectangle-bottom {
  position: absolute;
  width: 500px;
  height: 0;
  border-bottom: $info_height solid $background;
}

.info-rectangle-top {
  position: absolute;
  width: 500px;
  height: 0;
  border-top: $info_height solid $background;
}

.info-rectangle-player {
  left: 114px; // Camera width is 449px
  bottom: -5px;
  position: absolute;
  width: 200px;
  height: 0px;
  border-bottom: $camera_name_height solid $background;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.info-rectangle-player > .row {
  height: $camera_name_height;
  color: white;
}

.info-content {
  height: $info_height;
  color: white;
}

.info-content-top {
  height: $info_height;
  color: white;
  margin-top: -60px;
}

.left-player {
  left: 0px;
  bottom: 0px;
  border-right: $cut_width solid transparent;
}

.right-player {
  right: 0px;
  bottom: 0px;
  border-left: $cut_width solid transparent;
}

.tourney-name {
  top: 0px;
  left: $header_margin;
  border-left: $cut_width solid transparent;
  border-right: $cut_width solid transparent;
}

.tourney-round {
  top: 0px;
  right: $header_margin;
  border-left: $cut_width solid transparent;
  border-right: $cut_width solid transparent;
}

.camera {
  width: 100%;
  height: 300px;
  padding: 5px;
  margin: 10px auto;
  background-color: white;
  position: relative;
}

.tourney-link {
  position: absolute;
  bottom: 10px;
  color: white;
  width: 100%;
}

.reverse {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
